@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

body div, ul {
  display: flex; /*Retirando o efeito block dos filhos de body*/
}

li {
  display: flex; /*Para retirar as bolinhas dos <li>*/
}

.header, .footer {
  justify-content: space-between; /*Colocando os itens ul no comeco e fim da pagina*/
  padding: 10px;
}

ul {
  gap: 20px; /*Separando os links do topo e do rodape*/
  padding-left: 0;
}