@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex; /*gq*/
  flex-direction: column; /*gq*/
  padding: 30px;
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

.modal div {
	display: flex; /*gq*/
}

.cima {
	/*justify-content: space-around; */
	align-items: center;
}

.centro, .baixo {
	width: 85%;
	margin-left: auto;
}

.centro {
	margin-bottom: 15px;
}

.header {
	flex: 1 0 auto;
	margin-left: 32px;
	font-weight: 700;
}

.baixo {
	gap: 10px;
}
/*1 - Retirar as divs inuteis que eu coloquei (x)
 * 2 - retirar o efeito de space-around (x)
 * 3 - modelando o texto central: (x)
 * 	utilize width 85%;
 * 	margin-left: auto
	margin-bottom de 10px para separar o texto dos botões
   4 - modelando header para se alinhar com o texto central:
  	width de 85%
       	margin-left de 10px
	Alinha verticamente de maneira centralizada
    5 - alinha do bottoms:
    	width 85%
	margin-left auto
 
 */
